#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
  border: 1px solid black;
  margin-bottom: 50px;
}

.reset {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 0;
  height: 35px;
  width: 100px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 18px;
}

#container div {
  flex: auto;
  justify-content: space-evenly;
  margin: 0px;
  border: 0.5px solid black;
  width: 30px;
  height: 30px;
}

h1 {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: max-content;
  width: max-content;
}

p {
  font-weight: bold;
  width: max-content;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.box {
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
  width: 750px;
  padding: 50px;
  margin-top: 50px;
  /* background-color: rgb(255, 0, 0); */
}

/* .knobs #one {
  border: solid white;
} */
